.com_com {
  width: 100%;
  height: 100vh;
  /* border: 2px solid black; */
}
.Comu_nity {
  width: 500px;
  height: 480px;
  background-image: url("../../images/Roadmap/Vector1.png");
}
.Comunity111 {
  width: 60%;
  height: 70%;
}
.Call {
  background-image: url("../../images/Roadmap/image1.png");
  height: 40%;
  border-radius: 80px;
}
