
.Content_1{
    width: 100%;
    height: 20vh;
}
.bac{
    width: 99%;
    background-color: #FBF1E6;
    overflow: hidden;
}
.bac_1{
    width: 60%;
    background-color:#FBF1E6 ;
}
.logo11 img{
    width: 80%;
    height: 60vh;
}
.logo22 img{
    width: 60%;
    height: 60vh;
}
.logo33 img{
    width: 70%;
    height: 60vh;
}
.logo44 img{
    width: 100%;
    height: 60vh;
}
.logo55 img{
    width: 100%;
    height: 50vh;
}

